[Unit]
Description=ACS UI Service

[Service]
WorkingDirectory=/home/torsten/acs/ui
ExecStart=/bin/bash -c "cd /home/torsten/acs/ui; ./ui.sh"
StandardOutput=journal
StandardError=journal
SyslogIdentifier=acsui
User=torsten
Restart=always

[Install]
WantedBy=multi-user.target
